.tortoise-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  >.menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: $menu-transition;
    user-select: none;
    &:hover, &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: not-allowed;
    }
    &.is-active, &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  .submenu-item {
    position: relative;
  }
  
  .tortoise-submenu {
    display: none;
    list-style:none;
    padding-left: 0;
    white-space: nowrap;
    .menu-item {
      margin: 5px 0;
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active {
        background-color: #e6f7ff;
        color: #1890ff !important;
      }
      &:hover {
        color: #1890ff !important;
      }
    }
  }
  .tortoise-submenu.menu-opened {
    display: block;
  }
}

.menu-horizontal {
  >.menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .tortoise-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  border-right: $menu-border-width solid $menu-border-color;
  box-shadow: none;
  text-align: left;
  .submenu-title-content {
    display: flex;
    position: relative;
    padding: 0.5rem 1rem;
    .submenu-title {
      flex: 1;
      margin: 10px 0;
      &.is-active {
        background-color: #e6f7ff;
        color: #1890ff !important;
      }
      &:hover {
        color: #1890ff !important;
      }
    }
    .submenu-icon {
      justify-self: center;
      align-self: center;
    }
  }
  .submenu-item {
    margin: 0 !important;
    padding: 0 !important;
    .tortoise-submenu {
      background-color: rgb(250,250,250);
      .menu-item {
        padding-left: 2rem;
      }
    }
  }
  >.menu-item {
    display: inline-flex;
    flex-direction: column;
    border-bottom: none;
    margin: 10px 0;
    padding: 0.5rem 1rem;
    &.is-active, &:hover {
      border-bottom: 0px;
    }
  }
}